@{
    ViewData["Title"] = "Početna";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli u sustav za upravljanje voznim parkom!</h1>
    <br/>
    <h5>Sustav za upravljanje voznim parkom je aplikacija koja omogućuje učinkovito 
    upravljanje i praćenje vozila
    u poslovnom okruženju. Pruža sveobuhvatno rješenje za 
    organizacije koje posjeduju i koriste flotu vozila,
    bilo da se radi o manjem broju ili većim voznim parkom.</h5>
</div>
