@{
    ViewData["Title"] = "Početna";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli u sustav za upravljanje voznim parkom!</h1>
    <br/>
    <h5>Sustav za upravljanje voznim parkom je aplikacija koja omogućuje učinkovito 
    upravljanje i praćenje vozila
    u poslovnom okruženju. Pruža sveobuhvatno rješenje za 
    organizacije koje posjeduju i koriste flotu vozila,
    bilo da se radi o manjem broju ili većim voznim parkom.</h5>
    <h5>Jedna od ključnih funkcija ovog sustava je
    praćenje lokacija vozila. Svako vozilo je povezano s
    odgovarajućom lokacijom, omogućavajući upraviteljima 
    voznog parka da lako prate gdje se svako vozilo nalazi
    u stvarnom vremenu. To pomaže u praćenju kretanja vozila, 
    raspoređivanju voznog parka i optimizaciji rute.</h5>
    <h5>Također, sustav omogućuje praćenje informacija o vozilima,
    kao što su marka, model, godina proizvodnje, registarska oznaka 
    i vrsta goriva. Ove informacije su korisne za evidenciju i upravljanje 
    voznim parkom,
    kao i za planiranje održavanja vozila i kontrolu troškova.</h5>
    <h5>Uz to, aplikacija podržava upravljanje zaposlenicima koji
    koriste vozila. Svaki zaposlenik je povezan s 
    odgovarajućim vozilom i dodijeljenom pozicijom
    u tvrtki. Ovo omogućuje praćenje odgovornosti i pristup vozilima
    u skladu s hijerarhijom i radnim ulogama unutar organizacije.</h5>
    <h5>Dodjela vozila je još jedna važna funkcionalnost 
    sustava. Upravitelji voznog parka mogu pratiti raspored
    dodjele vozila zaposlenicima, zajedno s datuma i vremena
    kada su vozila dodijeljena ili vraćena. Ova informacija je korisna za praćenje
    ispravne uporabe vozila i rješavanje potencijalnih sukoba u rasporedu.</h5>
    <h5>Sustav za upravljanje voznim parkom također 
    može generirati različite izvještaje i analize
    vezane uz upotrebu vozila, troškove goriva, 
    održavanje vozila i slično. To pruža korisne informacije za
    donošenje odluka, optimizaciju voznog parka i smanjenje troškova.</h5>
    <h5>Ukratko, ova aplikacija za upravljanje
    voznim parkom omogućuje organizacijama 
    učinkovito upravljanje, praćenje i kontrolu
    njihove flote vozila. Pomaže u optimizaciji 
    korištenja vozila, smanjenju troškova i poboljšanju operativne učinkovitosti.</h5>
</div>
