@{
    ViewData["Title"] = "Tim 2";
}
<h1 align="center">@ViewData["Title"]</h1>

<h5 align="center">Tema projekta tima 2: Sustav za upravljanje voznim parkom.</h5>
<br/>
<h4 align="center">Članovi tima 2:
    <br />
    <h5 align="center">

    Vlado Šantić
<br />
    Hrvoje Sesar
<br />
    Šimun Jelić
<br />
    Blaž Stipić
    </h5>
    </h4>
<br/>

<h4 align="center">Tehnologije i alati:
    <br/>
    <h5 align="center">
        C#
        <br/>
        ASP.NET Core 7.0 MVC
        <br/>
        Visual Studio 2022
        <br/>
        Bootstrap 5.3
        <br/>
        PostgreSQL
        <br/>
        MongoDB
    </h5>
    
    </h4>