@model VP.Models.ModelVozila

@{
    ViewData["Title"] = "Edit Model vozila";
}

<h1 class="text-success">Edit</h1>
<br/>
<h4>Model vozila</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Naziv" class="control-label">Naziv</label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="IdMarke" class="control-label">Marka</label>
                <select asp-for="IdMarke" class="form-control" asp-items="ViewBag.IdMarke"></select>
                <span asp-validation-for="IdMarke" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" fdprocessedid="j5k4t7" />
                <a asp-action="Index"  class="btn btn-outline-light" fdprocessedid="tsh8mj">Back to List</a>
            </div>
        </form>
    </div>
</div>
<br/>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
