@model VP.Models.UposlenikKategorija

@{
    ViewData["Title"] = "Details of Kategorija uposlenika";
}

<h1 class="text-warning">Details</h1>
<br/>
<div>
    <h4>Kategorija uposlenika</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Kategorija
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdKategorijeNavigation.NazivKategorije)
        </dd>
        <dt class = "col-sm-2">
           Uposlenik
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUposlenikNavigation.ImePrezime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-success" fdprocessedid="oaubug">Edit</a>     <a asp-action="Index" class="btn btn-outline-light" fdprocessedid="tsh8mj">Back to List</a>
</div>
