@model VP.Models.UposlenikKategorija

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UposlenikKategorija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdUposlenik" class="control-label">ID uposlenika</label>
                <select asp-for="IdUposlenik" class="form-control" asp-items="ViewBag.IdUposlenik"></select>
                <span asp-validation-for="IdUposlenik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdKategorije" class="control-label">ID kategorije</label>
                <select asp-for="IdKategorije" class="form-control" asp-items="ViewBag.IdKategorije"></select>
                <span asp-validation-for="IdKategorije" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
