@model VP.Models.Vozilo

@{
    ViewData["Title"] = "Create";
}

<h1>Unesi novo vozilo</h1>

<h4>Vozilo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModelVozila" class="control-label">Model vozila</label>
                <select asp-for="ModelVozila" class ="form-control" asp-items="ViewBag.ModelVozila"></select>
            </div>
            <div class="form-group">
                <label asp-for="BrojSasije" class="control-label">Broj šasije</label>
                <input asp-for="BrojSasije" class="form-control" />
                <span asp-validation-for="BrojSasije" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistracijskaOznaka" class="control-label">Registracijska oznaka</label>
                <input asp-for="RegistracijskaOznaka" class="form-control" />
                <span asp-validation-for="RegistracijskaOznaka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GodinaProizvodnje" class="control-label">Godina proizvodnje</label>
                <input asp-for="GodinaProizvodnje" class="form-control" />
                <span asp-validation-for="GodinaProizvodnje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VrstaVozila" class="control-label">Vrsta vozila</label>
                <select asp-for="VrstaVozila" class ="form-control" asp-items="ViewBag.VrstaVozila"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdLokacije" class="control-label">ID lokacije</label>
                <select asp-for="IdLokacije" class ="form-control" asp-items="ViewBag.IdLokacije"></select>
            </div>
            <div class="form-group">
                <label asp-for="Gorivo" class="control-label">Gorivo</label>
                <input asp-for="Gorivo" class="form-control" />
                <span asp-validation-for="Gorivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kategorija" class="control-label">Kategorija</label>
                <input asp-for="Kategorija" class="form-control" />
                <span asp-validation-for="Kategorija" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
