@model VP.Models.DodjelaVozila

@{
    ViewData["Title"] = "Create Dodjela vozila";
}

<h1 class="text-primary">Create</h1>
<br/>
<h4>Dodjela vozila</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUposlenika" class="control-label">Zaposlenik</label>
                <select asp-for="IdUposlenika" class ="form-control" asp-items="ViewBag.IdUposlenika"></select>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="IdVozila" class="control-label">Registracijska oznaka vozila</label>
                <select asp-for="IdVozila" class ="form-control" asp-items="ViewBag.IdVozila"></select>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Dodjeljeno" class="control-label">Datum dodjele</label>
                <input asp-for="Dodjeljeno" class="form-control" type="date" />
                <span asp-validation-for="Dodjeljeno" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="VratitiDo" class="control-label">Datum vraćanja</label>
                <input asp-for="VratitiDo" class="form-control" type="date" />
                <span asp-validation-for="VratitiDo" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Dodatak" class="control-label">Dodatak</label>
                <input asp-for="Dodatak" class="form-control" />
                <span asp-validation-for="Dodatak" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-primary" fdprocessedid="j5k4t7" />
                <a asp-action="Index" class="btn btn-outline-light" fdprocessedid="tsh8mj">Back to List</a>
            </div>
        </form>
    </div>
</div>

<br/>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
